@font-face {
	font-family: "linja pona";
	src: url(linja-pona-4.9.otf);
}
* {
	font-family: Tahoma;
	text-align: center;
	align-content: center;
	vertical-align: middle;
	margin: auto;
}
body {
	font-size: 1.2em;
	margin-top: 10%;
	background-image: linear-gradient(to bottom, white, #DDDDDD);
}
strong {
	font-size: 0.9em;
}
textarea {
	font-size: 0.9em;
	text-align: left;
}
input {
	font-size: 0.9em;
}
ul {
	list-style-type: none;
	display: inline-block;
	text-align: left;
	padding-left: 0;
}
li {
	text-align: left;
}
iframe[seamless] {
	background-color: transparent;
	border: 0px none transparent;
	padding: 0px;
	overflow: visible;
	width: 100%;
	height: 100%;
}
table {
	border-collapse: collapse;
	border-radius: 5px;
}
tr.sina {
	font-weight: bold;
}
tr,th,td {
	font-size: inherit;
}
th {
	font-weight: bold;
	border-style: none dotted none none;
	border-width: 1px;
}
td {
	border-style: dashed none dashed none;
	border-width: 1px 0px 1px 0px;
	padding: 0px 1em 0px 1em;
}
footer {
	display: flex;
	font-size: 0.8em;
}

